@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
body{
	margin: 20;
  	padding: 0;
	  background: linear-gradient(#f0d4d6,#e49a9d,#c84d52,#b61a27);
  	font-family: "Poppins", sans-serif;
	height: 100vh;
	overflow: hidden;
}
.navbar ul{
	list-style:none;
	background: linear-gradient(#c84d52,#8b2d2e);
	padding: 0;
	margin: 20;
	text-align: right;
}
.navbar li{
	display: inline-block;
}
.navbar a{
	text-decoration: none;
	color: #fff;
	width: 120px;
	display: block;
	padding: 20px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.navbar a:hover{
	background: #c84d52;
	text-decoration: none;
	color: white;
}
.printer ul{
	list-style:none;
	padding: 0;
	margin: 20;
	text-align: right;
}
.printer li{
	display: inline-block;
	background: #2E2A32
}
.printer a{
	text-decoration: none;
	color: #fff;
	width: 100px;
	display: block;
	padding: 12px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.printer a:hover{
	background: #6B6165;
}
