@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
body{
	margin: 0;
  	padding: 0;
  	background: linear-gradient(#f0d4d6,#e49a9d,#c84d52,#b61a27);
  	font-family: "Poppins", sans-serif;
	height: 100vh;
	overflow: hidden;
}
.navbar ul{
	list-style:none;
	background: linear-gradient(#c84d52,#8b2d2e);
	padding: 0;
	margin: 0;
	text-align: right;
}
.navbar li{
	display: inline-block;
}
.navbar a{
	text-decoration: none;
	color: #fff;
	width: 80px;
	display: block;
	padding: 20px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.navbar a:hover{
	background: #c84d52;
}

.btn {
	color: #FA8072;
	 order-color: #FA8072 
}