@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
body{
	margin: 20;
  	padding: 0;
  	background: linear-gradient(#f0d4d6,#e49a9d,#c84d52,#b61a27);
  	font-family: "Poppins", sans-serif;
	height: 100vh;
	overflow: hidden;

}
h1{
	color: #543438;
}

.logout li{
	display: inline-block;
	position: absolute; 
  	top: 10px; 
  	right: 50px;
	background: #b61a27;
	border-radius: 2px;
	border: 1px solid;
	border-color: white;
}
.logout a{
	text-decoration: none;
	color: #fff;
	width: 100px;
	display: block;
	padding: 12px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.logout a:hover{
	background: #c84d52;
	border-radius: 2px;
}
#full_screen {
	position: fixed;
	width: 100%;
	height: auto;
	left: 0;
	right:0;
	bottom:0;
	top: 0;
	z-index: 10;
	overflow-y: scroll;
}
